name: Manual Build Workflow
run-name: ${{ github.actor }} is learning workflows manually

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
